<div class="auth-page">
  <h1>My Profile</h1>

  <%= form_with model: @user, url: profile_path, html: { class: "form-panel" } do |form| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <p><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</p>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :name, "Your name" %>
      <%= form.text_field :name, placeholder: "First and last name", pattern: "[A-Za-z\\s]+" %>
    </div>

    <div class="field">
      <%= form.label :email %>
      <%= form.email_field :email %>
    </div>

    <div class="field">
      <%= form.label :password, "New password" %>
      <%= form.password_field :password, placeholder: "Leave blank to keep current" %>
    </div>

    <div class="field">
      <%= form.label :password_confirmation, "Confirm new password" %>
      <%= form.password_field :password_confirmation %>
    </div>

    <div class="actions">
      <%= form.submit "Update Profile" %>
    </div>
  <% end %>

  <%= form_with model: @user, url: profile_path, html: { class: "form-panel" } do |form| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <p><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</p>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <h3>My Favorite Categories</h3>
    <div data-controller="category-selector" data-selected-ids="<%= @user.category_ids.join(',') %>">
      <% Category.all.each do |category| %>
        <%= button_tag category.name,
            type: "button",
            class: "category-button #{'selected' if @user.category_ids.include?(category.id)}",
            data: {
              action: "click->category-selector#toggle",
              category_id: category.id,
              category_selector_target: "button"
            } %>
      <% end %>
      <div id="selected-categories" data-category-selector-target="input"></div>
    </div>
    <div class="actions">
      <%= form.submit "Update Favorite Categories" %>
    </div>
  <% end %>
</div>
