<div class="comment" id="comment-<%= comment.id %>" data-controller="comment">
  
  <p class="comment__header"><strong><%= comment.user.name %>:</strong> <%= sanitize(comment.body, tags: []) %></p>
  <% if logged_in? && comment.user == current_user %>
    <%= button_to 'Delete', review_comment_path(comment.review, comment), method: :delete, class: 'btn btn--sm' %>
  <% end %>

  <% if comment.replies.any? %>
    <p>
      <a href="#" data-action="comment#toggleReplies" data-comment-target="repliesLink">View <%= pluralize(comment.replies.count, 'reply') %></a>
    </p>
    <div data-comment-target="replies" class="hidden">
      <% comment.replies.order(created_at: :asc).each do |reply| %>
        <div class="comment-reply">
          <%= render "comments/comment", comment: reply %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if logged_in? %>
    <p>
      <a href="#" data-action="comment#toggleForm">Reply</a>
    </p>
    <div class="comment-reply reply-form hidden" data-comment-target="form">
      <%= render "comments/form", review: comment.review, parent: comment %>
    </div>
  <% end %>
</div>
