<h1>Edit Book</h1>
<%= form_with model: @book do |f| %>
<div>
    <%= f.label :title, "Title" %><br>
    <%= f.text_area :title %><br>
</div>
<div>
    <%= f.label :author, "Author" %><br>
    <%= f.text_area :author %><br>
</div>
<div>
    <%= f.label :author, "Pages" %><br>
    <%= f.text_area :pages %><br>
</div>
<div>
    <%= f.label :author, "Read" %><br>
    <%= f.select :read, Book.reads.keys.map { |key| [key.humanize, key] } %><br>
</div>
<%= f.submit "Save" %>
<% end %>

<%= link_to "Close", books_path, class: "button" %>

