<h1>New Book</h1>
<%= form_with model: @book do |f| %>
<div>
    <%= f.label :title, "Title" %>
    <%= f.text_area :title %><br>
</div>
<div>
    <%= f.label :author, "Author" %>
    <%= f.text_area :author %><br>
</div>
<div>
    <%= f.label :author, "Pages" %>
    <%= f.text_area :pages %><br>
</div>
<div>
    <%= f.label :author, "Read" %>
    <%= f.select :read,
          options_for_select(Book.reads.keys.map { |k| [k.humanize, k] }, @book.read) %><br>
</div>
<%= f.submit "Submit" %>
<% end %>

<%= link_to "Close", books_path, class: "button" %>

