<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Library" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Keep your Typekit serif for headings -->
    <link rel="stylesheet" href="https://use.typekit.net/oov2wcw.css">
    <%= stylesheet_link_tag "forgotten", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application",  "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <!-- banner + gold nav -->
      <div class="header">
        <div style="height:300px; background:url(<%= asset_path('banner.jpg') %>) center/cover no-repeat;"></div>
        <div class="header-inner" data-controller="menu">
          <%= link_to raw('<span class="wordmark">Forgotten</span> Library'), root_path, class: "brand" %>
          <button class="nav-toggle" data-action="menu#toggle">&#9776;</button>
          <nav class="nav" data-menu-target="menu">
            <%= link_to "Search", books_path %>
            <% if logged_in? %>
              <%= link_to "My Library", library_entries_path %>
              <%= link_to "My Reviews", my_reviews_path %>
              <%= link_to "My Profile", profile_path %>
              <%= link_to "Sign out", session_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
            <% else %>
              <%= link_to "Sign in", new_session_path, class: "btn" %>
              <%= link_to "Create account", new_user_path, class: "btn" %>
            <% end %>
          </nav>
        </div>
      </div>

      <% if notice.present? %><div class="notice"><%= notice %></div><% end %>
      <% if alert.present?  %><div class="alert"><%= alert %></div><% end %>

      <%= yield %>
    </div>
  </body>
</html>
